.recipeAuthorBlock {
    display: flex;
    justify-content: space-evenly;
    }
    
    .imageUpdates {
       object-fit: contain;
       height:350px;
    }
    .head{
        object-fit:contain;
        width:100%;
        padding:0;
        margin:0;
        background-color: black;
    }